<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.XLS" version="9.2.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="17.1.0.47" targetFramework="net461" />
  <package id="Syncfusion.DocIO.WinForms" version="17.1.0.47" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.1.0.47" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Base" version="17.1.0.47" targetFramework="net461" />
</packages>